<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/game.css">
    <title>Document</title>
</head>
<body>
    <div class="video-background">
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ou6UsEf1J_o?start=13040" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    
    <div id="vidtop-content">
    <div class="vid-info">
        <span class="close">&times;</span>
          <h1>The Legend of Zelda: Breath of the wild</h1>
          <p>Diez mil años antes del comienzo del juego, Hyrule es una civilización avanzada que construyó cuatro enormes máquinas con formas de animales llamadas bestias divinas y una legión de guardianes para protegerse de Ganon. Cuando Ganon regresó, fue derrotado por una princesa con la ayuda de los cuatro campeones y un caballero.
            Unos nueve mil novecientos años después, los habitantes de Hyrule se enteraron por medio de una profecía de que se avecinaba el «Gran Cataclismo». La princesa Zelda entrena para despertar su poder y sellar a Ganon, Link es elegido como el portador de la Espada Maestra, mientras que Daruk, Revali, Mipha y Urbosa son elegidos para pilotar a las bestias divinas. Sin embargo, Ganon ideó un plan para contrarrestar los intentos defensas, corrompiendo a todas las máquinas, matando a los campeones y diezmando al reino.​ Link queda gravemente herido en la batalla y es llevado a una cámara de resurrección conocida como el santuario de la vida, mientras que Zelda usa su magia para atrapar a Ganon.
            </p>
         <a href="https://es.wikipedia.org/wiki/The_Legend_of_Zelda:_Breath_of_the_Wild">Full article</a>
      </div>
    </div>
</body>
<script src="../js/gameView.js"></script>
</html>