<html>
<h>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SraBuster</title>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
        integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
        crossorigin="anonymous"></script>

    <!-- Estilos de CSS -->
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/components/carrusel.css">

    <!-- Archivos JavaScript -->
    <script src="main.js"></script>
    </head>

    <body>
        <div class="wrapper">
            <!-- HEADER -->
            <header>
                <div class="netflixLogo">
                    <a id="logo" href="./main.html"><img src="../assets/Logo.png" alt="Logo Image"></a>
                </div>
                <nav class="main-nav">
                    <a href="./main.html">Home</a>
                    <a href="./peliculas.html">Películas</a>
                    <a href="./videojuegos.html">Videojuegos</a>
                    <a href="./contacto.html">Contacto</a>
                </nav>
                <nav class="sub-nav">
                    <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
                    <!-- <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a> -->
                    <a href="./login.html">Ingresa</a>
                </nav>
            </header>
            <!-- END OF HEADER -->



            <!-- MAIN CONTAINER -->
            <section class="main-container">

                <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
                    <div class="gallery-cell"></div>
                    <div class="gallery-cell"></div>
                    <div class="gallery-cell"></div>
                    <div class="gallery-cell"></div>
                    <div class="gallery-cell"></div>
                </div>

                <!-- END OF MAIN CONTAINER -->

                <!-- LINKS -->
                <section class="link">
                    <div class="logos">
                        <a href="#"><i class="fab fa-facebook-square fa-2x logo"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-2x logo"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
                    </div>
                </section>
                <!-- END OF LINKS -->

                <!-- FOOTER -->
        </div>
    </body>

</html>