<html>
<h>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SraBuster</title>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
        integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
        crossorigin="anonymous"></script>

    <!-- Estilos de CSS -->
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/cards.css">
    <link rel="stylesheet" href="../styles/components/modal.css">
    <link rel="stylesheet" href="../styles/components/carrusel.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    </head>

    <body>
        <header id="header" class="header">
            <div class="header__container container container--px">
                <nav class="navbar flex">
                    <img src="../assets/Logo.png" class="navbar__brand" title="Back to the homepage"></img>

                    <button id="toggleMenuBtn" class="navbar__toggle-menu toggle-menu" type="button"
                        aria-haspopup="true" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="toggle-menu__hamburger hamburger" aria-hidden="true">
                            <div class="hamburger__item"></div>
                            <div class="hamburger__item"></div>
                            <div class="hamburger__item"></div>
                        </div>
                    </button>

                    <ul id="menuList" class="navbar__menu menu" role="menu">
                        <li class="menu__item" role="none">
                            <a href="./main.html" class="menu__link menu__link--active" role="menuitem">Inicio</a>
                        </li>
                        <li class="menu__item" role="none">
                            <a href="./peliculas.html" class="menu__link" role="menuitem">Películas</a>
                        </li>
                        <li class="menu__item" role="none">
                            <a href="./videojuegos.html" class="menu__link" role="menuitem">Videojuegos</a>
                        </li>
                        <li class="menu__item" role="none">
                            <a href="./contacto.html" class="menu__link" role="menuitem">Contacto</a>
                        </li>
                        <li class="menu__item" role="none">
                            <a href="./login.html" class="menu__link cta cta--primary" role="menuitem">Inicia
                                sesión</a>
                        </li>
                    </ul>

                    <div id="overlayLayer" class="header__overlay"></div>
            </div>
        </header>
        <div class="wrapper">

            <!-- HEADER -->

            <!-- END OF HEADER -->

            <!-- MAIN CONTAINER -->
            <section class="main-container">

                <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
                    <div class="gallery-cell"></div>
                    <div class="gallery-cell"></div>
                    <div class="gallery-cell"></div>
                    <div class="gallery-cell"></div>
                    <div class="gallery-cell"></div>
                </div>

                <!-- Modal content -->
                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2 id="modal-header">Modal Header</h2>
                        </div>
                        <div class="modal-body">
                            <img class="description-img" id="modal-image"
                                src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/t3.PNG?raw=true"
                                alt="">
                            <div class="modal-title" id="modal-title">Some text in the Modal Body</div>
                            <div class="modal-desc" id="modal-desc">Some other text...</div>
                            <button class="button button1">Renta HD</button>
                            <button class="button button2">Renta Normal</button>
                        </div>
                    </div>

                </div>

                <div class="location" id="home">
                    <h1 id="home">Populares en Películas</h1>
                    <div class="box" id="firstBox">
                        <div class="card-ex" onclick='showModal(this)'><img class="imagen"
                                src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p7.PNG?raw=true"
                                alt=""></div>
                    </div>
                </div>


                <h1 id="myList">Tendencias en Películas</h1>
                <div class="box" id="secondBox">
                    <div class="card-ex2" onclick='showModal(this)'><img class="imagen2"
                            src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p7.PNG?raw=true" alt="">
                    </div>
                </div>

                <!-- END OF MAIN CONTAINER -->

                <!-- LINKS -->
                <section class="link">
                    <div class="logos">
                        <a href="#"><i class="fab fa-facebook-square fa-2x logo"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-2x logo"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
                    </div>
                </section>
                <!-- END OF LINKS -->

        </div>

        <!-- Archivos JavaScript -->
        <script src="../js/peliculas.js"></script>
    </body>

</html>